* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('./fonts/Lato/Lato-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: url('../fonts/Gill Sans Nova/gillsansnova_cnextrabold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: url('../fonts/Gill Sans Nova/gillsansnova_cnmedium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: url('../fonts/Gill Sans Nova/gillsansnova_book.ttf');
  font-weight: 400;
}

body {
  background: #e7e8e9;
  font-family: 'Gill Sans Nova', sans-serif;
}
h1,
h4 {
  font-size: calc(44px + 20 * (100vw / 1440));
  line-height: calc(58px + 4 * (100vw / 1440));
  font-weight: 700;
}
h2 {
  font-family: 'Lato';
  font-weight: 500;
  font-size: calc(22px + 6 * (100vw / 1440));
  line-height: calc(26px + 12 * (100vw / 1440));
  color: #0f161ee5;
}
h3 {
  font-weight: 700;
  font-size: calc(24px + 16 * (100vw / 1440));
  line-height: 48px;
}
p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: calc(16px + 4 * (100vw / 1440));
  line-height: 32px;
  color: #0f161eb2;
}
button {
  font-family: 'Gill Sans Nova';
  font-weight: 700;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: calc(20px + 14 * (100vw / 1440));
}

.Title {
  font-family: 'Lato';
  font-weight: 400;
  font-size: calc(16px + 4 * (100vw / 1440));
  line-height: calc(16px + 6 * (100vw / 1440));
  color: rgba(15, 22, 30, 0.9);
}

.Subtitle {
  font-family: 'Lato';
  font-weight: 400;
  font-size: calc(12px + 2 * (100vw / 1440));
  line-height: calc(18px + 2 * (100vw / 1440));
  letter-spacing: 0.03em;
  color: rgba(15, 22, 30, 0.7);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
}

.logo {
  height: 62px;
  width: 64px;
}

.container-top span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(16px + 8 * (100vw / 1440));
  line-height: 34px;
  font-family: 'Gill Sans Nova', sans-serif;
}

.container-top span:first-child {
  margin-right: 32px;
}

.about {
  background: radial-gradient(
      39.76% 39.76% at 100% 60.24%,
      rgba(20, 255, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(45.99% 45.99% at 0% 22.74%, rgba(5, 255, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
    #e7e8e9;
  padding-top: 256px;
  padding-bottom: 128px;
}

.content {
  max-width: 930px;
  margin: 0 auto;
}

.content h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.content p {
  margin-top: 16px;
}

.green-border {
  border-bottom: 1px solid #42ff00;
}

.Feed {
  padding: 32px 128px 64px;
}

.Container-Card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.Card {
  max-width: 373px;
  max-height: 408px;
  min-width: 155px;
  min-height: 268px;
  display: flex;
  flex-direction: column;
  background: #ebf1f1;
  border: 1px solid #e7e8e9;
  box-shadow: 3px 8px 10px rgba(15, 22, 30, 0.11);
  border-radius: 10px;
  padding: 8px 16px;
}
.img {
  max-width: 342px;
  border-radius: 10px;
}
.img img {
  border-radius: 10px;
}

.container h3 {
  margin-bottom: 32px;
}
.dribbble {
  width: 100%;
  height: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: right;
}
.dribbble img {
  width: 32px;
  height: 32px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.Project-Card {
  position: relative;
}

.Project-Component {
  display: flex;
  max-width: 720px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  justify-content: space-between;
}

.Project-Img {
  max-width: 720px;
  height: 512px;
}
.Project-Text {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
.Project-Button {
  max-width: 230px;
  max-height: 66px;
  min-width: 153px;
  min-height: 46px;

  background: #f9f9f9;
  border-radius: 25px;
  border: 1px solid white;

  text-align: center;
  text-transform: uppercase;
  color: #242d42;
}

.Reel {
  background: #242d42;
  position: relative;
  height: 683px;
}

.Reel-button {
  max-width: 405px;
  max-height: 66px;
}
.Reel-button button {
  width: 100%;
  height: 100%;
  background: #42ff00;
  border-radius: 25px;
  border: 1px solid;
  text-transform: uppercase;

  color: #0f161e;
}

.Reel-Button img {
  width: 32px;
  height: 32px;
}

.Text-Lockup {
  max-width: 678px;
  max-height: 326px;
  position: absolute;
  left: 37%;
  top: 40%;
  z-index: 2;
}

.Text-Lockup h2,
h4 {
  color: #f9f9f9;
}

.VideoPlaceHolder {
  max-width: 574px;
  max-height: 314px;

  position: absolute;
  top: 4.5%;
  left: 16%;
  z-index: 1;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts {
  max-width: 584px;
}
.contacts p:first-child {
  margin-bottom: 16px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}
.icons a {
  margin: 16px;
}

.Footer-Text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1184px;
}

.Footer-Text div .Subtitle:first-child {
  margin-right: 32px;
}

@media screen and (max-width: 720px) {
  .about {
    padding: 64px 128px;
  }
  .Project-Component {
    display: flex;
    flex-direction: column;
  }
  .Project-Button {
    margin-top: 16px;
  }

  .Container-Card {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .Feed {
    padding: 32px 64px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    padding: 32px;
  }
  .Project-Component {
    display: flex;
    flex-direction: column;
  }
  .Feed {
    padding: 32px;
    padding-left: 0px;
  }

  .Container-Card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .Reel {
    background: #242d42;
    position: unset;
    height: 683px;
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  .Reel-button {
    margin-top: 16px;
    max-width: 152px;
    max-height: 39px;
  }

  .Text-Lockup {
    position: unset;
    left: unset;
    top: unset;
    z-index: unset;
  }

  .VideoPlaceHolder {
    position: unset;
    top: unset;
    left: unset;
    z-index: unset;
  }

  .contact {
    display: unset;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }

  .BeInternetFriends {
    display: flex;
    justify-content: right;
  }
  .Footer-Text div {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
}
